@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Active link styling for sidebar */
.active-link {
    background-color: #ffffff !important;
    color: #EF3333 !important;
    font-weight: 600;
}

/* Rotate transformation for dropdown arrow */
.rotate {
    transform: rotate(180deg);
}

